
// secrets.js
"use strict";
 const INST_CLIENT_ID = "<Okta Client ID>";
 const INST_CLIENT_SECRET = "<API secret>";
 const INST_CUSTOM_URL = "<Okta URL>";
 const PIC_WEB_ADDR = "<Web Address>";

module.exports = {
    INST_CLIENT_ID,
    INST_CLIENT_SECRET,
    INST_CUSTOM_URL,
    PIC_WEB_ADDR
};
